body {    
    margin: 0 !important;
    padding: 0 !important;
    background-color: #000;
    font-family: 'Muli', sans-serif;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0em 2em;
    box-sizing: border-box;
    z-index: 2;
    position: fixed;
    background: #000000c5;
}

.logo {
    width: 30%;
}

@media(max-width: 720px) {
    .logo {
        width: 80%;
    }
}

.header {
    color: #fff;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    text-align: center;
}

.infoBox {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialLink {
    transition: 0.08s;
    margin: 0em 0.75em;
}

.socialLink:hover {
    opacity: 0.6;
}

.socialLink:active {
    opacity: 0.5;
}

.instagramIcon {
    width: 2.2rem;
}

.facebookIcon {
    width: 2.2rem;
}

.backgroundVideo {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    object-fit: cover;
}


.email {
    color: #ffffff6e;
    letter-spacing: 0.014em;
    font-weight: 500;
    position: absolute;
    bottom: 2em;
}